PORT=5000

# PostgreSQL AWS RDS connection details
DB_USER=postgres
DB_PASSWORD=pisolve123
DB_HOST= safeshunt-db.c5oesqouwl70.ap-south-1.rds.amazonaws.com
DB_NAME=safeshunt_db
DB_PORT=5432

# Secret key for JWT signing (use a strong random string in production)
JWT_SECRET=super_secret_jwt_key_for_safeshunt_app
